.place-order {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 100px;
    gap: 50px;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    outline-color: tomato;
}

.place-order-left .multi-fields {
    gap: 10px;
    display: flex;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.cart-total button {
    margin-top: 30px;
}