.app-download {
    margin: auto auto;
    font-size: 3vw;
    text-align: center;
    font-weight: 500;
    margin-top: 100px;
}

.app-download-platforms {
    display: flex;
    justify-content: center;
    gap: max(3vw, 20px);
    margin-top: 40px;
}

.app-download-platforms img {
    width: max(30vw, 120px);
    max-width: 180px;
    cursor: pointer;
    transition: 0.5s;
}

.app-download-platforms img:hover {
    transform: scale(1.05);
}