.cart {
    margin-top: 100px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: max(1vw, 12px);
    color: gray;
}

.cart-items-item {
    margin: 10px 0px;
    color: black;
}

.cart-items-item img {
    width: 50px;
}

.cart-items-item .cross {
    color: rgb(180, 33, 7);
    cursor: pointer;
    font-weight: 500;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 1;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: rgb(36, 33, 33);
}

.cart-total hr {
    margin: 10px 0px;
}

.cart-total button {
    border: none;
    color: white;
    background-color: rgb(180, 33, 7);
    padding: 12px;
    width: 200px;
    cursor: pointer;
    border-radius: 4px;
}

.cart-promocode {
    flex: 1;
}

.cart-promocode p {
    color: #555;
}

.cart-promocode-input {

    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input {
    outline: none;
    padding: 10px;
    background: transparent;
    border: none;
}

.cart-promocode-input button {
    width: 150px;
    padding: 8px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

.empty-cart-image {
    width: 400px;
    margin-bottom: 20px;
}

.empty-cart-text {
    font-size: 20px;
    color: #555;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
}

.empty-cart-button {
    padding: 10px 20px;
    
    background-color: rgb(232, 8, 8);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}



@media(max-width:750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }

    .cart-promocode {
        justify-content: start;
    }
}