.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0px 0px 10px #00000015;
    animation: fadeIn 1;
}

.food-item-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-weight: 500;
    font-size: 20px;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    color: #676767;
    font-size: 12px;
}

.food-item-price {
    font-size: 22px;
    font-weight: 500;
    color: tomato;
    margin: 10px 0px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: black;
}

.food-item-counter img {
    width: 30px;
}

.food-item-counter p {
    color: white;
    font-weight: 500;
}