.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu h1 {
    font-weight: 500;

}

.menu p {
    max-width: 60%;
    color: rgb(43, 35, 35);
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    text-align: center;
}

.menu-list::-webkit-scrollbar {
    display: none;
}

.menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
}

.menu-list-item p {
    font-size: 1vw;
    color: rgb(33, 23, 23);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 2rem;
}

.menu-list-item .active {
    border: 4px solid tomato;
}

@media (max-width : 1050px) {
    .menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}