.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3%;
}

.navbar .logo {
    width: 15%;
}

.navbar .profile {
    width: 40px;
    border-radius: 60%;
}


@media (max-width : 1050px) {
    .navbar .logo {
        width: 140px;
    }

    
    .navbar-profile {
        width: 22px;
        padding: 8px 25px;
    }

    .navbar-right .button {
        padding: 8px 25px;
    }
}

@media (max-width : 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right .button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width : 750px) {
    .navbar-menu {
        display: none;
    }
}