.signIn-popup {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #00000090;
    display: grid;
}

.signIn-popup-container {
    width: max(23vw, 330px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 30px;
    font-size: 14px;
    border-radius: 8px;
    place-self: center;
    background-color: whitesmoke;
    gap: 25px;
    color: rgb(85, 78, 78);
    animation: fadeIn 0.5s;
}

.signIn-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100%;
}

.signIn-popup-title img {
    width: 16px;
    cursor: pointer;
}

.signIn-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.signIn-popup-inputs input {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid gray;
    outline: none;
}

.signIn-popup-container button {
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: none;
    padding: 10px;
    background-color: rgb(93, 13, 213);
    border-radius: 4px;
    width: 100%;
}

.signIn-popup-condition {
    display: flex;
    gap: 10px;
    margin-top: -15px;
}

.signIn-popup-container p span {
    color: rgb(43, 3, 103);
    font-weight: 500;
    cursor: pointer;
}